/* Media query------ */
@media (min-width: 260px) {
    .footer-text-box{
        height: 6vh;
        width: 100%;
    }
    .footer-text-box span {
        color: white;
        font-weight: 300;
        font-size: 0.8rem;
    }
    .heart-icone{
        font-size: 0.8rem;
    }
    
}
@media (min-width: 320px){
    .footer-text-box{
        height: 6vh;
        width: 100%;
    }
    .footer-text-box span {
        color:#215bfc;
        font-weight: 300;
        font-size: 0.9rem;
    }
    .heart-icone{
        font-size: 0.9rem;
    }
}
@media (min-width: 481px) {
    .footer-text-box{
        height: 6vh;
        width: 100%;
    }
    .footer-text-box span {
        color:#fdfdfd;
        font-weight: 400;
        font-size: 1rem;
    }
    .heart-icone{
        font-size: 1rem;
    }
    
}

@media (min-width: 790px) {
 
    .footer-text-box{
        height: 6vh;
        width: 100%;
    }
    .footer-text-box span {
        color:#215bfc;
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: 1px;
    }
    .heart-icone{
        font-size: 1rem;
    }
  
}

@media (min-width: 1025px) {
    .footer-text-box{
        height: 6vh;
        width: 100%;
    }
    .footer-text-box span {
        color:#fafafc;
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: 1px;
    }
    .heart-icone{
        font-size: 1rem;
    }

}
@media (min-width: 1201px) {
 
    .footer-text-box{
        height: 6vh;
        width: 99vw;
    }
    .footer-text-box span {
        color:#215bfc;
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: 1px;
    }
    .heart-icone{
        font-size: 1rem;
    }
}
