/* Media query------ */
@media (min-width: 260px) {
    .footer-text-box{
        height: 6vh;
        width: 100%;
    }
}
@media (min-width: 280px) {
    .footer-text-box{
        height: 6vh;
        width: 100%;
    }
}
@media (min-width: 300px) {
    .footer-text-box{
        height: 6vh;
        width: 100%;
    }
}
@media (min-width: 310px) {
     .footer-text-box{
        height: 6vh;
        width: 100%;
    }
}
@media (min-width: 354px) {
     .footer-text-box{
        height: 6vh;
        width: 100%;
    }
}
@media (min-width: 360px) {
     .footer-text-box{
        height: 6vh;
        width: 100%;
    }
}
@media (min-width: 370px) {
     .footer-text-box{
        height: 6vh;
        width: 100%;
    }
}
@media (min-width: 375px) {
     .footer-text-box{
        height: 6vh;
        width: 100%;
    }
}
@media (min-width: 400px) {
     .footer-text-box{
        height: 6vh;
        width: 100%;
    }
}
@media (min-width: 500px) {
     .footer-text-box{
        height: 6vh;
        width: 100%;
    }
}
@media (min-width: 645px) {
     .footer-text-box{
        height: 6vh;
        width: 100%;
    }
}
@media (min-width: 768px) {
     .footer-text-box{
        height: 6vh;
        width: 100%;
    }
}
@media (min-width: 1024px) {
     .footer-text-box{
        height: 6vh;
        width: 100%;
    }
}
@media (min-width: 1280px) {
     .footer-text-box{
        height: 6vh;
        width: 100%;
    }
}
@media (min-width: 1536px) {
     .footer-text-box{
        height: 6vh;
        width: 100%;
    }
}
@media (min-width: 1550px) {
     .footer-text-box{
        height: 6vh;
        width: 99vw;
    }
}
@media (min-width: 1600px) {
     .footer-text-box{
        height: 6vh;
        width: 99vw;
    }
}