.footer-text-box{
    /* border-top: 1px solid  #12161f; */
    /* background-color: #14192F;; */
    background-color: transparent;
    height: 6vh;
    width: 99vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    z-index: 1;
    -webkit-backdrop-filter: blur(12px);
backdrop-filter: blur(12px);
border-top: 1px solid #3B4053;
}
.footer-text-box span {
    /* color: white; */
    color:#7599fd;

}
.heart-icone{
    font-size: 1.2rem;
    margin: 0;
    padding: 0px 2px;
    color: red;
}