.footer-text-box{
    background-color: #14192F;;
    /* background-color: transparent; */
    height: 6vh;
    width: 99vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    z-index: 1;
border-top: 1px solid rgb(31, 33, 133);

}
.footer-text-box span {
    /* color: white; */
    color:#215bfc;

}
.heart-icone{
    font-size: 1.2rem;
    margin: 0;
    padding: 0px 2px;
    color: red;
}

