

@media (min-width: 260px) {
    .card-outer{
        height: 4.5rem;
        width: 12rem;
        border: 1px solid rgb(38, 41, 245);
    }
        .logo-img{
        height: 3rem;
        }
    .card-text-box{
        /* border: 1px solid red; */
        padding: 0.3rem;
        margin-left: 0.5rem;
       
        }
        .title{
            font-size: 1rem;
            letter-spacing: 0;
            /* border-bottom: 1px solid white; */
        }
}
@media (min-width: 280px) {
    .card-outer{
        height: 4.5rem;
        width: 12rem;
        border: 1px solid rgb(38, 41, 245);
    }
        .logo-img{
        height: 3rem;
        }
    .card-text-box{
        /* border: 1px solid red; */
        padding: 0.3rem;
        margin-left: 0.5rem;
       
        }
        .title{
            font-size: 1rem;
            letter-spacing: 0;
            /* border-bottom: 1px solid white; */
        }
}
@media (min-width: 300px) {
    .card-outer{
        height: 4.5rem;
        width: 12rem;
        border: 1px solid rgb(38, 41, 245);
    }
        .logo-img{
        height: 3rem;
        }
    .card-text-box{
        /* border: 1px solid red; */
        padding: 0.3rem;
        margin-left: 0.5rem;
       
        }
        .title{
            font-size: 1rem;
            letter-spacing: 0;
            /* border-bottom: 1px solid white; */
        }
}
@media (min-width: 310px) {
    .card-outer{
        height: 4.5rem;
        width: 14rem;
        border: 1px solid rgb(38, 41, 245);
    }
        .logo-img{
        height: 3rem;
        }
    .card-text-box{
        /* border: 1px solid red; */
        padding: 0.3rem;
        margin-left: 0.5rem;
       
        }
        .title{
            font-size: 1rem;
            letter-spacing: 0;
            /* border-bottom: 1px solid white; */
        }
}
@media (min-width: 345px) {
    .card-outer{
        height: 4.5rem;
        width: 16rem;
        border: 1px solid rgb(38, 41, 245); 
    }
        
        .logo-img{
        height: 3rem;
        }
        

    .card-text-box{
        /* border: 1px solid red; */
        padding: 0.3rem;
        }
        .title{
            font-size: 1.1rem;
            letter-spacing: 1px;
            /* border-bottom: 1px solid white; */
        }
}
@media (min-width: 354px) {
    .card-outer{
        height: 4.5rem;
        width: 16rem;
        border: 1px solid rgb(38, 41, 245);
    }
        
        .logo-img{
        height: 3rem;
        }
        
    .card-text-box{
        /* border: 1px solid red; */
        padding: 0.3rem;
    }
        .title{
            font-size: 1.1rem;
            letter-spacing: 1px;
            /* border-bottom: 1px solid white; */
        }
}
@media (min-width: 360px) {
    .card-outer{
        height: 4.5rem;
        width: 16rem;
        border: 1px solid rgb(38, 41, 245);
    }

        .logo-img{
        height: 3rem;
        }
        

    .card-text-box{
        /* border: 1px solid red; */
        padding: 0.3rem;
        }
        .title{
            font-size: 1.1rem;
            letter-spacing: 1px;
            /* border-bottom: 1px solid white; */
        }
}
@media (min-width: 370px) {
    .card-outer{
        height: 4.5rem;
        width: 16rem;
        border: 1px solid rgb(38, 41, 245);
    }

        .logo-img{
        height: 3rem;
        }
        
    .card-text-box{
        /* border: 1px solid red; */
        padding: 0.3rem;
        }
        .title{
            font-size: 1.1rem;
            letter-spacing: 1px;
            /* border-bottom: 1px solid white; */
        }
}

@media (min-width: 375px) {
    .card-outer{
        height: 4.5rem;
        width: 18rem;
        border: 1px solid rgb(38, 41, 245);
    }

        .logo-img{
        height: 3rem;
        }
        
    .card-text-box{
        /* border: 1px solid red; */
        padding: 0.3rem;
    
        }
        .title{
            font-size: 1.1rem;
            letter-spacing: 1px;
            /* border-bottom: 1px solid white; */
        }
}
@media (min-width: 640px) {
    .card-outer{
        height: 4.5rem;
        width: 16rem;
        border: 1px solid rgb(38, 41, 245);
    }
}

@media (min-width: 768px) {
    .card-outer{
        height: 4.5rem;
        width: 15rem;
        /* border: 1px solid rgb(38, 41, 245); */
    }
}

@media (min-width: 1024px) {
    .card-outer{
        height: 4.5rem;
        width: 16rem;
        /* border: 1px solid rgb(38, 41, 245); */
    }
}

@media (min-width: 1200px) {
    .card-outer{
        height: 5rem;
        width: 16rem;
        /* border: 1px solid rgb(38, 41, 245); */
    }
}
@media (min-width: 1280px) {
    .card-outer{
        height: 5rem;
        width: 16rem;
        /* border: 1px solid rgb(38, 41, 245); */
    }
}

@media (min-width: 1536px) {
    .card-outer{
        height: 5.2rem;
        width: 18rem;
        /* border: 1px solid rgb(38, 41, 245); */
    }
    
    .logo-img{
    height: 4rem;
    }
    
    .card-text-box{
    /* border: 1px solid red; */
    padding: 0.5rem;
    }
    .title{
        font-size: 1.3rem;
        letter-spacing: 1px;
        /* border-bottom: 1px solid white; */
    }
    
  
}
@media (min-width: 1550px) {
    .card-outer{
        height: 5.2rem;
        width: 18rem;
        /* border: 1px solid rgb(38, 41, 245); */
    }
    
    .logo-img{
    height: 4rem;
    }
    
    .card-text-box{
    /* border: 1px solid red; */
    padding: 0.5rem;
    }
    .title{
        font-size: 1.3rem;
        letter-spacing: 1px;
        /* border-bottom: 1px solid white; */
    }
    
  
}
@media (min-width: 1600px) {
    .card-outer{
        height: 5.8rem;
        width: 18rem;
        /* border: 1px solid rgb(38, 41, 245); */
    }

    .logo-img{
    height: 4rem;
    }
    
    .card-text-box{
    /* border: 1px solid red; */
    padding: 0.5rem;
    }
    .title{
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 1px;
        /* border-bottom: 1px solid white; */
    }
    
  
}