
@media (min-width: 240px) {
}
@media (min-width: 370px) {
    .skill-counter{
        width: 100%;
        /* border: 1px solid red; */
        padding: 5rem 0rem;
        border-bottom: 1px solid gray;
        }
        
        .skill-inner-box{
          /* border: 1px solid red; */
          margin: 1rem 0rem;
        width: 80vw;
        padding: 1.5rem 0rem;
        }
        .skill-display{
          /* border: 1px solid white; */
          height: auto;
        width:75vw;
        }
      
        .skill-heading{
          font-size: 2rem;
          font-weight: 500;
          padding: 0.5rem 0rem;
          /* border: 1px solid rgb(233, 1, 1); */
        }
        
        .hash-img-outer{
        /* border: 1px solid rgb(212, 19, 19); */
        }
        
        .hashImage{
          height: 18rem;
        /* border: 1px solid rgb(212, 19, 19); */
        }
}
@media (min-width: 375px) {
    .skill-counter{
        width: 100%;
        /* border: 1px solid red; */
        padding: 5rem 0rem;
        border-bottom: .5px solid gray;

        }
        
        .skill-inner-box{
          /* border: 1px solid red; */
          margin: 1rem 0rem;
        width: 80vw;
        padding: 1.5rem 0rem;
        }
        .skill-display{
          /* border: 1px solid white; */
          height: auto;
        width:75vw;
        }
      
        .skill-heading{
          font-size: 2rem;
          font-weight: 500;
          padding: 0.5rem 0rem;
          /* border: 1px solid rgb(233, 1, 1); */
        }
        
        .hash-img-outer{
        /* border: 1px solid rgb(212, 19, 19); */
        }
        
        .hashImage{
          height: 18rem;
        /* border: 1px solid rgb(212, 19, 19); */
        }
}
@media (min-width: 640px) {
  .skill-counter{
    width: 100%;
    /* border: 1px solid red; */
    padding: 5rem 0rem;
    border-bottom: .5px solid gray;
    }
    
    .skill-inner-box{
      /* border: 1px solid red; */
      margin: 1rem 0rem;
    width: 80vw;
    padding: 1.5rem 0rem;
    }
    .skill-display{
      /* border: 1px solid white; */
      height: auto;
    width:75vw;
    }
  
    .skill-heading{
      font-size: 2rem;
      font-weight: 500;
      padding: 0.5rem 0rem;
      /* border: 1px solid rgb(233, 1, 1); */
    }
    
    .hash-img-outer{
    /* border: 1px solid rgb(212, 19, 19); */
    }
    
    .hashImage{
      height: 20rem;
    /* border: 1px solid rgb(212, 19, 19); */
    }
}

@media (min-width: 768px) {
  .skill-counter{
    width: 100%;
    /* border: 1px solid red; */
    padding: 5rem 0rem;
    /* border-bottom: .5px solid gray; */
    }
    
    .skill-inner-box{
      /* border: 1px solid red; */
      margin: 1rem 0rem;
    width: 80vw;
    padding: 1.5rem 0rem;
    /* border: none; */
    }
    .skill-display{
      /* border: 1px solid white; */
      height: auto;
    width:75vw;
    flex-direction: row;
    justify-content:space-evenly;
    }
  
    .skill-heading{
      font-size: 2.1rem;
      font-weight: 500;
      padding: 0.5rem 0rem;
      /* border: 1px solid rgb(233, 1, 1); */
    }
    
    .hash-img-outer{
    /* border: 1px solid rgb(212, 19, 19); */
    }
    
    .hashImage{
      height: 22rem;
    /* border: 1px solid rgb(212, 19, 19); */
    }
}

@media (min-width: 1024px) {
  .skill-counter{
    width: 100%;
    /* border: 1px solid red; */
    padding: 5rem 0rem;
    border-bottom: .5px solid gray;
    }
    
    .skill-inner-box{
      /* border: 1px solid red;/ */
      margin: 1rem 0rem;
    width: 80vw;
    padding: 1.5rem 0rem;
    border: 1px solid #5a5a5a;
    }
    .skill-display{
      /* border: 1px solid white; */
      height: auto;
    width:60vw;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    }
  
    .skill-heading{
      font-size: 2.1rem;
      font-weight: 500;
      padding: 0.5rem 0rem;
      /* border: 1px solid rgb(233, 1, 1); */
    }
    
    .hash-img-outer{
    /* border: 1px solid rgb(212, 19, 19); */
    }
    
    .hashImage{
      height: 22rem;
    /* border: 1px solid rgb(212, 19, 19); */
    }
}

@media (min-width: 1280px) {
  .skill-counter{
    width: 100%;
    /* border: 1px solid red; */
    padding: 5rem 0rem;
    /* border-bottom: .5px solid gray; */
    }
    
    .skill-inner-box{
      /* border: 1px solid red; */
      margin: 1rem 0rem;
    width: 80vw;
    padding: 1.5rem 0rem;
    border: 1px solid #5a5a5a;
    }
    .skill-display{
      /* border: 1px solid white; */
      height: auto;
    width:50vw;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2rem 0rem;
    }
  
    .skill-heading{
      font-size: 2.1rem;
      font-weight: 500;
      padding-top: 0.5rem ;
      padding-bottom: 0rem ;
      /* border: 1px solid rgb(233, 1, 1); */
    }
    
    .hash-img-outer{
    /* border: 1px solid rgb(212, 19, 19); */
    }
    
    .hashImage{
      height: 20rem;
    /* border: 1px solid rgb(212, 19, 19); */
    }
}

@media (min-width: 1536px) {
  .skill-counter{
    width: 99vw;
    /* border: 1px solid red; */
    padding: 5rem 0rem;
    /* border-bottom: .5px solid gray; */
    }
    
    .skill-inner-box{
      /* border: 1px solid red; */
      margin: 1rem 0rem;
    width: 70vw;
    padding: 1.5rem 0rem;
    /* border: 1px solid #5a5a5a; */
    }
    .skill-display{
      /* border: 1px solid white; */
      height: auto;
    width:40vw;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2rem 0rem;
    }
  
    .skill-heading{
      font-size: 2.2rem;
      font-weight: 500;
      padding-top: 0.5rem ;
      padding-bottom: 0rem ;
      /* border: 1px solid rgb(233, 1, 1); */
    }
    
    .hash-img-outer{
    /* border: 1px solid rgb(212, 19, 19); */
    }
    
    .hashImage{
      height: 20rem;
    /* border: 1px solid rgb(212, 19, 19); */
    }
}
@media (min-width: 1619px) {
  .skill-counter{
    width: 99vw;
    /* border: 1px solid red; */
    padding: 5rem 0rem;
    /* border-bottom: .5px solid gray; */
    }
    
    .skill-inner-box{
      /* border: 1px solid red; */
      margin: 1rem 0rem;
    width: 70vw;
    padding: 1.5rem 0rem;
    /* border: 1px solid #5a5a5a; */
    border: none;
    }
    .skill-display{
      /* border: 1px solid white; */
      height: auto;
    width:40vw;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2rem 0rem;
    }
  
    .skill-heading{
      font-size: 2.2rem;
      font-weight: 500;
      padding-top: 0.5rem ;
      padding-bottom: 0rem ;
      /* border: 1px solid rgb(233, 1, 1); */
    }
    
    .hash-img-outer{
    /* border: 1px solid rgb(212, 19, 19); */
    }
    
    .hashImage{
      height: 23rem;
    /* border: 1px solid rgb(212, 19, 19); */
    }
}
@media (min-width: 1629px) {
  .skill-counter{
    width: 99vw;
    /* border: 1px solid red; */
    padding: 5rem 0rem;
    /* border-bottom: .5px solid gray; */
    }
    
    .skill-inner-box{
      /* border: 1px solid red; */
      margin: 1rem 0rem;
    width: 70vw;
    padding: 1.5rem 0rem;
    /* border: 1px solid #5a5a5a; */
    /* border: none; */
    }
    .skill-display{
      /* border: 1px solid white; */
      height: auto;
    width:40vw;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2rem 0rem;
    }
  
    .skill-heading{
      font-size: 2.2rem;
      font-weight: 500;
      padding-top: 0.5rem ;
      padding-bottom: 0rem ;
      /* border: 1px solid rgb(233, 1, 1); */
    }
    
    .hash-img-outer{
    /* border: 1px solid rgb(212, 19, 19); */
    }
    
    .hashImage{
      height: 23rem;
    /* border: 1px solid rgb(212, 19, 19); */
    }
}