@media (min-width: 260px) {
    .nav-outer {
        height: 5rem;
        width: 100%;
        
      }
    
      .link-list li {
        margin: 0rem 0.2rem;
        padding: 0.5rem 0.6rem;
      }
    
      .link-list li a {
        font-size: 1.1rem;
      }
}

@media (min-width: 320px) {
  .nav-outer {
    height: 5rem;
    width: 100%;
    
  }

  .link-list li {
    margin: 0rem 0.2rem;
    padding: 0.5rem 1rem;
  }

  .link-list li a {
    font-size: 1.2rem;
  }
}
@media (min-width: 400px) {
  .nav-outer {
    height: 5rem;
    width: 100%;
    
  }

  .link-list li {
    margin: 0rem 0.2rem;
    padding: 0.5rem 1.1rem;
  }

  .link-list li a {
    font-size: 1.2rem;
  }
}

@media (min-width: 481px) {
  .nav-outer {
    height: 5rem;
    width: 100%;
  }

  .link-list li {
    margin: 0rem 0.2rem;
    padding: 0.5rem 1.4rem;
  }

  .link-list li a {
    font-size: 1.1rem;
  }
}

@media (min-width: 790px) {
  .nav-outer {
    height: 5rem;
    width: 100%;
    /* border:1px solid rgb(253, 62, 3) ; */
  }

  .link-list li {
    margin: 0rem 0.2rem;
    padding: 0.5rem 1.8rem;
  }

  .link-list li a {
    font-size: 1.1rem;
  }
}

@media (min-width: 1025px) {
  .nav-outer {
    height: 6rem;
    width: 100%;
  }
  ul {
    margin-top: 1rem;
  }
  .link-list li {
    margin: 0rem 0.2rem;
    padding: 0.5rem 1.8rem;
  }

  .link-list li a {
    font-size: 1.2rem;
  }
}
@media (min-width: 1201px) {
  .nav-outer {
    height: 6rem;
    width: 99vw;
  }

  ul {
    margin-top: 1rem;
  }
  .link-list li {
    margin: 0rem 0.2rem;
    padding: 0.5rem 2.2rem;
  }

  .link-list li a {
    font-size: 1.4rem;
  }
}
