
.nav-outer{    
    position: relative;
    height: 5rem;
    width: 99vw;
    border-bottom: 1px solid #222B45;
    background-color:  #14192F;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;

}

ul {
    margin: 0.2rem 0rem;
    position: fixed;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style-type: none;
    border-top: 3px solid  #88a8ff;
    border-bottom: 3px solid  #88a8ff;
    padding: 0.5rem;
    border-radius: 10px;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    z-index: 100;
}
.link-list li{
    margin: 0rem 0.2rem;
    color: #88a8ff;
    padding: 0.5rem 2rem;
}

.link-list li a{
    font-size: 1.5rem;
    color: #91aeff;
}

:active{
    color: #f8f9fc;
}

