
@media (min-width: 240px) {
    .nav-outer{    
        height: 5rem;
        width: 100%;
        /* border:1px solid red; */
    }
    
    ul {
      
        padding: 0.5rem;
    }
    .link-list li{
        margin: 0rem 0.2rem;
        padding: 0.3rem 1rem;  
    }
    
    .link-list li a{
        font-size: 1.3rem;
    }
}
@media (min-width: 375px) {
    .nav-outer{    
        height: 5rem;
        width: 100%;
        /* border:1px solid red; */
    }
    
    ul {
      
        padding: 0.5rem;
    }
    .link-list li{
        margin: 0rem 0.2rem;
        padding: 0.3rem 1rem;  
    }
    
    .link-list li a{
        font-size: 1.3rem;
    }
    
}
@media (min-width: 640px) {
    .nav-outer{    
        height: 5rem;
        width: 100%;
        /* border:1px solid red; */
    }
    
    ul {
      
        padding: 0.5rem;
    }
    .link-list li{
        margin: 0rem 0.2rem;
        padding: 0.3rem 1rem;  
    }
    
    .link-list li a{
        font-size: 1.3rem;
    }
}

@media (min-width: 768px) {
    .nav-outer{    
        height: 5rem;
        width: 100%;
        /* border:1px solid red; */
    }
    
    ul {
      
        padding: 0.5rem;
    }
    .link-list li{
        margin: 0rem 0.3rem;
        padding: 0.3rem 1rem;  
    }
    
    .link-list li a{
        font-size: 1.4rem;
    }
}

@media (min-width: 1024px) {
    .nav-outer{    
        height: 5rem;
        width: 100%;
        /* border:1px solid red; */
    }
    
    ul {
      
        padding: 0.5rem;
    }
    .link-list li{
        margin: 0rem 0.4rem;
        padding: 0.3rem 1.1rem;  
    }
    
    .link-list li a{
        font-size: 1.4rem;
    }
}

@media (min-width: 1280px) {
    .nav-outer{    
        height: 5rem;
        width: 100%;
        /* border:1px solid red; */
    }
    
    ul {
      
        padding: 0.5rem;
    }
    .link-list li{
        margin: 0rem 0.4rem;
        padding: 0.3rem 1.1rem;  
    }
    
    .link-list li a{
        font-size: 1.4rem;
    }
}

@media (min-width: 1536px) {
    .nav-outer{    
        height: 5rem;
        width: 100%;
    }

    ul {
        margin: 0.2rem 0rem;
        padding: 0.5rem;
    }
    .link-list li{
        margin: 0rem 0.5rem;
        padding: 0.5rem 2rem; 
    }
    
    .link-list li a{
        font-size: 1.5rem;
    }
   
    
}