
@media (min-width: 260px) {
    .about-outer{
      height: auto;
      width: 100%;
      border: none;
    }

      .about-inner {
        height: auto;
        width: 94vw;
        /* border: 1px solid red; */
        padding: 1rem 0rem;
        /* border: 1px solid #3b4053; */
        flex-wrap: wrap;
      
   
      }

      .about-figuer {
        height: 12rem;
        width: 14rem;
      }
      .about-image {
        position: absolute;
        height: 12rem;
        width: 14rem;

      }

        /* ----- */
        .about-intro {
            height:auto;
            width: 42rem;
            /* border: 1px solid yellow; */
            margin-top: 0.5rem;
    
            padding: 0.3rem 0.5rem;
           
          }

          .about-title {
            color: #615add;
            font-size: 2rem;
            font-weight: 500;
            padding: 0.4rem 0.2rem;
            text-align: center;
            text-transform: capitalize;
            /* border: 1px solid yellow; */
          }
          
          .about-text {
            font-size: 0.94rem;
            font-weight: 300;
            color: #97b1f8;
            text-align: justify;
            word-spacing: -0.5px;
            /* border: 1px solid yellow; */
          
          }


      
}

@media (min-width: 275px) {
    .about-outer {
        height: auto;
        padding: 4rem 0rem 1rem 0rem;
        width:100%;
        /* border: 1px solid red; */

      }

      .about-inner {
        height: auto;
        width: 85vw;
        /* border: 1px solid red; */
        padding: 1rem 0rem;
        /* border: 1px solid #3b4053; */
        flex-wrap: wrap;
      }

      .about-figuer {
        height: 12rem;
        width: 14rem; 
      }
      .about-image {
        position: absolute;
        height: 12rem;
        width: 14rem;
      }

        /* ----- */
        .about-intro {
            height:26rem;
            width: 39rem;
    
            padding: 0.3rem 0.5rem;
           
          }

          .about-title {
            color: #615add;
            font-size: 2rem;
            font-weight: 500;
            padding: 0.4rem 0.2rem;
            text-align: center;
            text-transform: capitalize;
            /* border: 1px solid yellow; */
          }
          
          .about-text {
            font-size: 0.94rem;
            font-weight: 300;
            color: #97b1f8;
            text-align: justify;
            word-spacing: -0.5px;
            /* border: 1px solid yellow; */
          
          }

 
      
      
}
@media (min-width: 280px) {
    .about-outer {
        height: auto;
        padding: 4rem 0rem 1rem 0rem;
        width:100%;
        /* border: 1px solid red; */

      }

      .about-inner {
        height: auto;
        width: 85vw;
        /* border: 1px solid red; */
        padding: 1rem 0rem;

        /* border: 1px solid #3b4053; */
        flex-wrap: wrap;
   
      }

      .about-figuer {
  
        height: 12rem;
        width: 14rem;
     
      }
      .about-image {
        position: absolute;
        height: 12rem;
        width: 14rem;
      }

        /* ----- */
        .about-intro {
            height:26rem;
            width: 39rem;
    
            padding: 0.3rem 0.5rem;
           
          }

          .about-title {
            color: #615add;
            font-size: 2rem;
            font-weight: 500;
            padding: 0.4rem 0.2rem;
            text-align: center;
            text-transform: capitalize;
            /* border: 1px solid yellow; */
          }
          
          .about-text {
            font-size: 0.94rem;
            font-weight: 300;
            color: #97b1f8;
            text-align: justify;
            word-spacing: -0.5px;
            /* border: 1px solid yellow; */
          
          }

 
      
      
}
@media (min-width: 300px) {
    .about-outer {
        height: auto;
        padding: 4rem 0rem 1rem 0rem;
        width:100%;
        /* border: 1px solid red; */

      }

      .about-inner {
        height: auto;
        width: 85vw;
        /* border: 1px solid red; */
        padding: 1rem 0rem;

        /* border: 1px solid #3b4053; */
        flex-wrap: wrap;
   
      }

      .about-figuer {
  
        height: 12rem;
        width: 14rem;
       
      }
      .about-image {
        position: absolute;
        height: 12rem;
        width: 14rem;
      }

        /* ----- */
        .about-intro {
            height:26rem;
            width: 39rem;
    
            padding: 0.3rem 0.5rem;
           
          }

          .about-title {
            color: #615add;
            font-size: 2rem;
            font-weight: 500;
            padding: 0.4rem 0.2rem;
            text-align: center;
            text-transform: capitalize;
            /* border: 1px solid yellow; */
          }
          
          .about-text {
            font-size: 0.94rem;
            font-weight: 300;
            color: #97b1f8;
            text-align: justify;
            word-spacing: -0.5px;
            /* border: 1px solid yellow; */
          
          }

 
      
      
}
@media (min-width: 310px) {
    .about-outer {
        height: auto;
        padding: 4rem 0rem 1rem 0rem;
        width:100%;
        /* border: 1px solid red; */

      }

      .about-inner {
        height: auto;
        width: 85vw;
        /* border: 1px solid red; */
        padding: 1rem 0rem;

        /* border: 1px solid #3b4053; */
        flex-wrap: wrap;
   
      }

      .about-figuer {
  
        height: 12rem;
        width: 14rem;

      }
      .about-image {
        position: absolute;
        height: 12rem;
        width: 14rem;
      }

        /* ----- */
        .about-intro {
            height:26rem;
            width: 39rem;
    
            padding: 0.3rem 0.5rem;
           
          }

          .about-title {
            color: #615add;
            font-size: 2rem;
            font-weight: 500;
            padding: 0.4rem 0.2rem;
            text-align: center;
            text-transform: capitalize;
            /* border: 1px solid yellow; */
          }
          
          .about-text {
            font-size: 0.94rem;
            font-weight: 300;
            color: #97b1f8;
            text-align: justify;
            word-spacing: -0.5px;
            /* border: 1px solid yellow; */
          
          }

 
      
      
}
@media (min-width: 345px) {
    .about-outer {
        height: auto;
        padding: 4rem 0rem 1rem 0rem;
        width:100%;
        /* border: 1px solid red; */

      }

      .about-inner {
        height: auto;
        width: 85vw;
        /* border: 1px solid red; */
        padding: 1rem 0rem;

        /* border: 1px solid #3b4053; */
        flex-wrap: wrap;
   
      }

      .about-figuer {
  
        height: 12rem;
        width: 14rem;
     
      }
      .about-image {
        position: absolute;
        height: 12rem;
        width: 14rem;
      }

        /* ----- */
        .about-intro {
            height:26rem;
            width: 39rem;
    
            padding: 0.3rem 0.5rem;
           
          }

          .about-title {
            color: #615add;
            font-size: 2rem;
            font-weight: 500;
            padding: 0.4rem 0.2rem;
            text-align: center;
            text-transform: capitalize;
            /* border: 1px solid yellow; */
          }
          
          .about-text {
            font-size: 0.94rem;
            font-weight: 300;
            color: #97b1f8;
            text-align: justify;
            word-spacing: -0.5px;
            /* border: 1px solid yellow; */
          
          }

 
      
      
}
@media (min-width: 354px) {
    .about-outer {
        height: auto;
        padding: 4rem 0rem 1rem 0rem;
        width:100%;
        /* border: 1px solid red; */

      }

      .about-inner {
        height: auto;
        width: 85vw;
        /* border: 1px solid red; */
        padding: 1rem 0rem;

        /* border: 1px solid #3b4053; */
        flex-wrap: wrap;
   
      }

      .about-figuer {
  
        height: 12rem;
        width: 14rem;

      }
      .about-image {
        position: absolute;
        height: 12rem;
        width: 14rem;
      }

        /* ----- */
        .about-intro {
            height:26rem;
            width: 39rem;
    
            padding: 0.3rem 0.5rem;
           
          }

          .about-title {
            color: #615add;
            font-size: 2rem;
            font-weight: 500;
            padding: 0.4rem 0.2rem;
            text-align: center;
            text-transform: capitalize;
            /* border: 1px solid yellow; */
          }
          
          .about-text {
            font-size: 0.94rem;
            font-weight: 300;
            color: #97b1f8;
            text-align: justify;
            word-spacing: -0.5px;
            /* border: 1px solid yellow; */
          
          }

 
      
      
}
@media (min-width: 370px) {
  .about-outer {
    height: auto;
    padding: 4rem 0rem 1rem 0rem;
    width:100%;
    /* border: 1px solid red; */
 
  }

  .about-inner {
    height: auto;
    width: 85vw;
    /* border: 1px solid red; */
    padding: 1rem 0rem;
    flex-wrap: wrap;

  }

  .about-figuer {
    height: 14rem;
    width: 16rem;
    border-top: 8px solid #2557df;
    border-left: 7px solid #2557df;
    border-bottom: 6px solid #2557df;
    background-color: #2557df;
  }
  .about-image {
    position: absolute;
    height: 14rem;
    width: 16rem;
  }

    /* ----- */
    .about-intro {
        height:22rem;
        width: 30rem;
        margin-top: 0.5rem;
        padding: 0.3rem 0.5rem;
        /* border: 1px solid rgb(8, 153, 153); */
        justify-content: space-around;
       
      }

      .about-title {
        color: #fdfdff;
        font-size: 2rem;
        padding: 0.4rem 0.2rem;
        text-transform: capitalize;
        /* border: 1px solid yellow; */
       
      }
      
      .about-text {
        color: #88a8ff;
        /* border: 1px solid yellow; */
        margin: 0.2rem 0rem;
      
      }

      .resume-btn{
        /* border: 1px solid red; */
        margin: 1rem 0rem;
      }
  
  
      
      
}
@media (min-width: 375px) {
    .about-outer {
        height: auto;
        padding: 4rem 0rem 1rem 0rem;
        width:100%;
        /* border: 1px solid red; */

      }

      .about-inner {
  
        height: auto;
        width: 90vw;
        /* border: 1px solid red; */
        padding: 1rem 0rem;
        flex-wrap: wrap;
   
      }

      .about-figuer {
        height: 14rem;
        width: 16rem;
      }
      .about-image {
        height: 14rem;
        width: 16rem;
      }

        /* ----- */
        .about-intro {
            height:22rem;
            width: 30rem;
            margin-top: 0.5rem;
            padding: 0.3rem 0.5rem;
            /* border: 1px solid rgb(8, 153, 153); */
            justify-content: space-around;
           
          }

          .about-title {
            color: #fdfdff;
            font-size: 2rem;
            padding: 0.4rem 0.2rem;
            text-transform: capitalize;
            /* border: 1px solid yellow; */
           
          }
          
          .about-text {
            color: #88a8ff;
            /* border: 1px solid yellow; */
            margin: 0.2rem 0rem;
          
          }

          .resume-btn{
            /* border: 1px solid red; */
            margin: 1rem 0rem;
          }
      
      
}
@media (min-width: 400px) {
  .about-outer {
    height: auto;
    padding: 4rem 0rem 1rem 0rem;
    width:100%;
    border: none;
    /* border: 1
    px solid red; */
  }

  .about-inner {
    height: auto;
    width: 85vw;
    /* border: 1px solid red; */
    padding: 1rem 0rem;
    flex-wrap: wrap;

  }

  .about-figuer {
    height: 14rem;
    width: 16rem;
  }
  .about-image {
    height: 14rem;
    width: 16rem;
  }

    /* ----- */
    .about-intro {
        height:22rem;
        width: 30rem;
        margin-top: 0.5rem;
        padding: 0.3rem 0.5rem;
        /* border: 1px solid rgb(8, 153, 153); */
        justify-content: space-around;
       
      }

      .about-title {
        color: #fdfdff;
        font-size: 2rem;
        padding: 0.4rem 0.2rem;
        text-transform: capitalize;
        /* border: 1px solid yellow; */
       
      }
      
      .about-text {
        color: #88a8ff;
        /* border: 1px solid yellow; */
        margin: 0.2rem 0rem;
      
      }

      .resume-btn{
        /* border: 1px solid red; */
        margin: 1rem 0rem;
      }
}
@media (min-width: 500px) {
  .about-outer {
    height: auto;
    padding: 4rem 0rem 1rem 0rem;
    width:100%;
    border: none;
    /* border: 1
    px solid red; */
  }

  .about-inner {
    height: auto;
    width: 85vw;
    /* border: 1px solid red; */
    padding: 1rem 0rem;
    flex-wrap: wrap;
    border:none ;

  }

  .about-figuer {
    height: 14rem;
    width: 16rem;
    margin-top: 1rem;
  }
  .about-image {
    position: absolute;
    height: 14rem;
    width: 16rem;
  }

    /* ----- */
    .about-intro {
        height:22rem;
        width: 30rem;
        padding: 0.3rem 0.5rem;
        /* border: 1px solid rgb(8, 153, 153); */
        justify-content: space-around;
        
       
      }

      .about-title {
        color: #fdfdff;
        font-size: 2rem;
        padding: 0.4rem 0.2rem;
        text-transform: capitalize;
        /* border: 1px solid yellow; */
       
      }
      
      .about-text {
        color: #88a8ff;
        /* border: 1px solid yellow; */
        margin: 0.2rem 0rem;
      
      }

      .resume-btn{
        /* border: 1px solid red; */
        margin: 1rem 0rem;
      }    
      
}
@media (min-width: 514px) {
  .about-outer {
    border: none;
  }


 
}
@media (min-width: 640px) {
  .about-outer {
    height: auto;
    padding: 4rem 0rem 1rem 0rem;
    width:100%;
    border: none;
    /* border: 1px solid red; */
 
  }

  .about-inner {
    height: auto;
    width: 80vw;
    /* border: 1px solid red; */
    padding: 1rem 0rem;
    flex-wrap: wrap;
    border:1px solid rgb(37, 37, 80) ;

  }

  .about-figuer {
    height: 14rem;
    width: 16rem;
  }
  .about-image {
    position: absolute;
    height: 14rem;
    width: 16rem;
  }

    /* ----- */
    .about-intro {
        height:22rem;
        width: 30rem;
        padding: 0.3rem 0.5rem;
        /* border: 1px solid rgb(8, 153, 153); */
        justify-content: space-around;
       
      }

      .about-title {
        color: #fdfdff;
        font-size: 2rem;
        padding: 0.4rem 0.2rem;
        text-transform: capitalize;
        /* border: 1px solid yellow; */
       
      }
      
      .about-text {
        color: #88a8ff;
        font-size: 1.1rem;
        /* border: 1px solid yellow; */
        margin: 0.2rem 0rem;
      
      }

      .resume-btn{
        /* border: 1px solid red; */
        margin: 1rem 0rem;
      }
}

@media (min-width: 768px) {
  .about-outer {
    height: auto;
    padding: 4rem 0rem 1rem 0rem;
    width:100%;
    /* border: 1px solid red; */
 
  }

  .about-inner {
    height: auto;
    width: 80vw;
    /* border: 1px solid red; */
    padding: 1rem 0rem;
    flex-wrap: wrap;
    border:1px solid rgb(37, 37, 80) ;
       

  }

  .about-figuer {
    height: 14rem;
    width: 16rem;
  }
  .about-image {
   
    height: 14rem;
    width: 16rem;
  }

    /* ----- */
    .about-intro {
        height:auto;
        width: 36rem;
        padding: 0.3rem 0.5rem;
        /* border: 1px solid rgb(8, 153, 153); */
        justify-content: space-around;
       
      }

      .about-title {
        color: #fdfdff;
        font-size: 2rem;
        padding: 0.4rem 0.2rem;
        text-transform: capitalize;
        /* border: 1px solid yellow; */
       
      }
      
      .about-text {
        color: #88a8ff;
        font-size: 1.1rem;
        /* border: 1px solid yellow; */
        margin: 0.2rem 0rem;
      
      }

      .resume-btn{
        /* border: 1px solid red; */
        margin: 1rem 0rem;
      }
}

@media (min-width: 1024px) {
  .about-outer {
    height: auto;
    padding: 4rem 0rem 1rem 0rem;
    width:100%;
  border: none;

    /* border: 1
    px solid red; */
    
  }

  .about-inner {
    height:auto;
    width: 80vw;
    /* border: 1px solid red; */
    padding: 1rem 0rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    border:1px solid rgb(37, 37, 80) ;

  }

  .about-figuer {
    height: 14rem;
    width: 16rem;
  }
  .about-image {
   
    height: 14rem;
    width: 16rem;
  }

    /* ----- */
    .about-intro {
        height:auto;
        width: 28rem;
        padding:1rem 0.5rem;
        /* border: 1px solid rgb(8, 153, 153); */
        justify-content: space-around;
        /* border:1px solid rgb(37, 37, 80) ; */

       
      }

      .about-title {
        color: #fdfdff;
        font-size: 2rem;
        padding: 0.4rem 0.2rem;
        text-transform: capitalize;
        /* border: 1px solid yellow; */
       
      }
      
      .about-text {
        color: #88a8ff;
        font-size: 1.1rem;
        /* border: 1px solid yellow; */
        margin: 0.2rem 0rem;
      
      }

      .resume-btn{
        /* border: 1px solid red; */
        margin: 1rem 0rem;
      }
}

@media (min-width: 1280px) {
  .about-outer {
    height: auto;
    padding: 4rem 0rem 1rem 0rem;
    width:100%;
    /* border: 1px solid red; */
 
    

  }

  .about-inner {
    height: auto;
    width: 80vw;
    /* border: 1px solid red; */
    padding: 1rem 0rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;

  }

  .about-figuer {
    height: 14rem;
    width: 16rem;
  }
  .about-image {
   
    height: 14rem;
    width: 16rem;
  }

    /* ----- */
    .about-intro {
        height:22rem;
        width: 30rem;
        padding: 0.3rem 0.5rem;
      
        /* border: 1px solid rgb(8, 153, 153); */
        justify-content: space-around;
       
      }

      .about-title {
        color: #fdfdff;
        font-size: 2rem;
        padding: 0.4rem 0.2rem;
        text-transform: capitalize;
        /* border: 1px solid yellow; */
       
      }
      
      .about-text {
        color: #88a8ff;
        font-size: 1.1rem;
        /* border: 1px solid yellow; */
        margin: 0.2rem 0rem;
      
      }

      .resume-btn{
        /* border: 1px solid red; */
        margin: 1rem 0rem;
      }
}

@media (min-width: 1536px) {
  .about-outer {
    height: auto;
    padding: 4rem 0rem 1rem 0rem;
    width:100%;
    /* border: 1px solid red; */
 
    

  }

  .about-inner {
    height: auto;
    width: 60vw;
    /* border: 1px solid red; */
    padding: 1rem 0rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    border:1px solid rgb(37, 37, 80) ;

  }

  .about-figuer {
    height: 14rem;
    width: 16rem;
  }
  .about-image {
   
    height: 14rem;
    width: 16rem;
  }

    /* ----- */
    .about-intro {
        height:22rem;
        width: 30rem;
        padding: 0.3rem 0.5rem;
      
        /* border: 1px solid rgb(8, 153, 153); */
        justify-content: space-around;
       
      }

      .about-title {
        color: #fdfdff;
        font-size: 2rem;
        padding: 0.4rem 0.2rem;
        text-transform: capitalize;
        /* border: 1px solid yellow; */
       
      }
      
      .about-text {
        color: #88a8ff;
        font-size: 1.1rem;
        /* border: 1px solid yellow; */
        margin: 0.2rem 0rem;
      
      }

      .resume-btn{
        /* border: 1px solid red; */
        margin: 1rem 0rem;
      }
}
@media (min-width: 1550px) {
  .about-outer {
    height: auto;
    padding: 4rem 0rem 1rem 0rem;
    width:99vw;
    /* border: 1px solid red; */
 
    

  }

  .about-inner {
    height:auto;
    width: 70vw;
    /* border: 1px solid red; */
    padding: 1rem 0rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;

  }

  .about-figuer {
    height: 14rem;
    width: 16rem;
  }
  .about-image {
   
    height: 14rem;
    width: 16rem;
  }

    /* ----- */
    .about-intro {
        height:22rem;
        width: 30rem;
        padding: 0.3rem 0.5rem;
      
        /* border: 1px solid rgb(8, 153, 153); */
        justify-content: space-around;
       
      }

      .about-title {
        color: #fdfdff;
        font-size: 2rem;
        padding: 0.4rem 0.2rem;
        text-transform: capitalize;
        /* border: 1px solid yellow; */
       
      }
      
      .about-text {
        color: #88a8ff;
        font-size: 1.1rem;
        /* border: 1px solid yellow; */
        margin: 0.2rem 0rem;
      
      }

      .resume-btn{
        /* border: 1px solid red; */
        margin: 1rem 0rem;
      }
}
@media (min-width: 1600px) {
  .about-outer {
    height: auto;
    padding: 4rem 0rem 1rem 0rem;
    width:99vw;
    /* border: 1px solid red; */
 
    
  }

  .about-inner {
    height: auto;
    width: 70vw;
    /* border: 1px solid red; */
    padding: 1rem 0rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    border:1px solid rgb(37, 37, 80) ;
       

  }

  .about-figuer {
    height: 14rem;
    width: 16rem;
  }
  .about-image {
   
    height: 14rem;
    width: 16rem;
  }

    /* ----- */
    .about-intro {
        height:22rem;
        width: 34rem;
        padding: 0.3rem 0.5rem;
      
        /* border: 1px solid rgb(8, 153, 153); */
        justify-content: space-around;
       
      }

      .about-title {
        color: #fdfdff;
        font-size: 2rem;
        padding: 0.4rem 0.2rem;
        text-transform: capitalize;
        /* border: 1px solid yellow; */
       
      }
      
      .about-text {
        color: #88a8ff;
        font-size: 1.1rem;
        /* border: 1px solid yellow; */
        margin: 0.2rem 0rem;
      
      }

      .resume-btn{
        /* border: 1px solid red; */
        margin: 1rem 0rem;
      }
}

