.about-outer {
  height: 96vh;
  width: 99vw;
  /* border: 1px solid red; */
  /* background-color: white; */
  background-color: #14192f;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.about-inner {
  height: 50vh;
  width: 63vw;
  margin: 3rem 0rem;
  border: 1px solid #3b4053;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.about-image-box {
  /* border: 1px solid white; */
}

.about-figuer {
  position: relative;
  height: 18rem;
  width: 20rem;
  border-top: 8px solid #2557df;
  border-left: 7px solid #2557df;
  border-bottom: 6px solid #2557df;
  background-color: #2557df;
}
.about-image {
  position: absolute;
  height: 18rem;
  width: 20rem;
  margin-left: 0.1rem;

  /* display: none; */
}

/* ----- */
.about-intro {
  height: auto;

  width: 40rem;
  /* border: 1px solid white; */
  color: white;
  padding: 0.1rem 1rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
 flex-wrap: nowrap;
 align-items: center;
 /* justify-content: space-evenly; */
}
.about-title {
  color: #fbfbff;
  font-size: 2.2rem;
  font-weight: 500;
  padding: 0.5rem;
  text-align: center;
  text-transform: capitalize;
  /* border: 1px solid yellow; */
}

.about-text {
  color: #88a8ff;
  /* border: 1px solid yellow; */

}

.resume-btn {
    
    border: 1px solid transparent;
    /* border-left: 1.5px solid #4a80fd; */
    /* border-right: 1.5px solid #4a80fd; */
  outline: none;
  border-radius: 15px;
  background-color: transparent;
  letter-spacing: 1px;
  color: #4a80fd;
  padding: 0.5rem 1.1rem;
  font-size: 1.1rem;
  font-weight: 500;
  transition: 1s;
  margin: 2rem 0rem;
}

.resume-btn:hover {
  color: #779ffd;
  border: 1px solid transparent;
  box-shadow: #080808 0px 1px 6px;
}

.resume-btn a{
    text-decoration: none;
    color: #4a80fd;
}