.home-outer{
    /* border: 1px solid red; */
    height: 99vh;
    width: 99vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center ;
    /* background-color:  #101426; */
    background-color:  #14192F;
    position: relative;
  border: none;
  /* margin-top: 1rem; */
    
}

.intro-box{
    /* position: absolute; */
    padding: 0.5rem;
    height: 50vh;
    width: 63vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-between;
    /* background-color:  #88a8ff; */
border: 1px solid transparent;
/* border-radius: 15px; */
 /* border: 1px solid blue; */



}

.intro-note{
/* border: 1px solid blue; */
height: 20rem;
width: 40rem;
/* padding: 2rem; */
display: flex;
flex-direction: column;
flex-wrap: nowrap;
/* align-items: center; */
justify-content: center ;
overflow: hidden;
}


.name-text{
/* border: 1px solid blue; */
  margin-bottom: 0.4rem;
    font-size: 2.1rem;
    color: rgb(253, 253, 253);
    text-align: center;
}
.first-text{
    font-size: 1.5rem;
    color: #2767fc;
    /* display: none; */
}
.title-text-box{
    text-align: center;
}

.sec-text{
    position: relative;
    font-size: 1.4rem;
    color:#1148cc;
    padding: 0rem 0.2rem ;
    
}

.sec-text:before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid #1148cc;
    background-color:  #14192F;
    animation: textAnimation 5s steps(18) infinite;
}
@keyframes  textAnimation {
  40% , 60%{
    left: 100% ;
  }
  100%{
    left: 0%;
  }
}

.home-btn-group{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center ;
    /* border: 1px solid green; */
    padding: 1rem;
}
.home-btn{
    margin: 0rem 1rem;
    outline: none;
    border: none;
    background-color: transparent;
    color: #00298a;
    /* padding: 0.1rem 0.4rem; */
}

.home-btns{
    align-items: center;
    font-size: 1.8rem;
    padding: 0.4rem 0.5rem;
    border: 1px solid transparent;
        border-radius: 5px;
      
    transition: 1s; }

    a:active{
        color: #0336ac;
    }
    a:visited{
        color: #0336ac;
    }
 .home-btns:hover{
    border: 1px solid transparent;
    box-shadow: #080808 0px 1px 6px;
        }
        .home-img{
            height: 25rem ;
        }