@media (min-width: 260px) {
  .home-outer {
    height: 90vh;
    /* border: 1px solid red; */
    width: 100%;
  border: none;

   
  }
  .intro-box {
    background-color: transparent;
    padding: 0rem 0rem;
    height: 58vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    -webkit-backdrop-filter:none;
backdrop-filter: none;
    /* border: 1px solid rgb(240, 94, 94); */
  }

  .intro-note {
    height: 12rem;
    width: 30rem;
    padding-left: 1rem;
    align-items: center;
    /* margin-bottom: 0; */
    justify-content: space-evenly;
    /* border: 1px solid rgb(49, 243, 0); */
  }

  .name-text {
    /* border: 1px solid blue; */
    font-size: 2rem;
    font-weight: 500;
  }
  .first-text {
    font-size: 1.4rem;
    font-weight: 500;
  }
  .title-text-box {
    /* border: 1px solid rgb(138, 135, 135); */
    text-align: justify;
    /* padding-right: 1rem; */
    /* margin-left: -10rem; */
  }

  .sec-text {
    font-size: 1.1rem;
    color: #064ef7;
    /* border: 1px solid red; */
    letter-spacing: normal;
    font-weight: 400;
  }

  .sec-text:before {
    transform: rotate(180deg);
    background-color: #14192f;
    animation: textAnimation 3s infinite;
    animation-direction: alternate-reverse;
    
  }
  @keyframes textAnimation {
    0% {
      width: 100%;
    }
    25% {
      width: 75%;
    }
    50% {
      width: 50%;
    }
    75% {
      width: 25%;
    }
    100% {
      width: 0%;
    }
  }
  .home-img {
    height: 16rem;
    /* border: 1px solid red; */
  }

  .home-btn-group {
    padding: 0.5rem;
    /* border: 1px solid green; */
  }

  .home-btn {
    /* border: 1px solid red; */
    color: #064ef7;
  }
  a:active {
    color: #064ef7;
  }
  a:visited {
    color: #064ef7;
  }
  
}
@media (min-width: 275px) {
  .home-outer {
    height: 90vh;
    /* border: 1px solid red; */
    width: 100%;
   
  }
  .intro-box {
    background-color: transparent;
    padding: 0rem 0rem;
    height: 58vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(240, 94, 94); */
    box-shadow: none;
  }

  .intro-note {
    /* border: 1px solid rgb(49, 243, 0); */
    height: 12rem;
    width: 30rem;
    padding-left: 1rem;
    align-items: center;
    /* margin-bottom: 0; */
    justify-content: space-evenly;
  }

  .name-text {
    /* border: 1px solid blue; */
    font-size: 2rem;
    font-weight: 500;
  }
  .first-text {
    font-size: 1.4rem;
    font-weight: 500;
  }
  .title-text-box {
    /* border: 1px solid rgb(138, 135, 135); */
    text-align: justify;
    /* margin-left: -10rem; */
  }

  .sec-text {
    font-size: 1.1rem;
    color: #064ef7;
    /* border: 1px solid red; */
    letter-spacing: normal;
    font-weight: 400;
  }

  .sec-text:before {
    transform: rotate(180deg);
    background-color: #14192f;
    animation: textAnimation 3s infinite;
    animation-direction: alternate-reverse;
  }
  @keyframes textAnimation {
    0% {
      width: 100%;
    }
    25% {
      width: 75%;
    }
    50% {
      width: 50%;
    }
    75% {
      width: 25%;
    }
    100% {
      width: 0%;
    }
  }
  .home-img {
    height: 16rem;
    /* border: 1px solid red; */
  }

  .home-btn-group {
    padding: 0.5rem;
    /* border: 1px solid green; */
  }

  .home-btn {
    /* border: 1px solid red; */
    color: #064ef7;
  }
  a:active {
    color: #064ef7;
  }
  a:visited {
    color: #064ef7;
  }
  
}
@media (min-width: 280px) {
  .home-outer {
    height: 90vh;
    /* border: 1px solid red; */
    width: 100%;
   
  }
  .intro-box {
    background-color: transparent;
    padding: 0rem 0rem;
    height: 58vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(240, 94, 94); */
    box-shadow: none;
  }

  .intro-note {
    /* border: 1px solid rgb(49, 243, 0); */
    height: 12rem;
    width: 30rem;
    padding-left: 1rem;
    align-items: center;
    /* margin-bottom: 0; */
    justify-content: space-evenly;
  }

  .name-text {
    /* border: 1px solid blue; */
    font-size: 2rem;
    font-weight: 500;
  }
  .first-text {
    font-size: 1.4rem;
    font-weight: 500;
  }
  .title-text-box {
    /* border: 1px solid rgb(138, 135, 135); */
    text-align: justify;
    /* margin-left: -10rem; */
  }

  .sec-text {
    font-size: 1.1rem;
    color: #064ef7;
    /* border: 1px solid red; */
    letter-spacing: normal;
    font-weight: 400;
  }

  .sec-text:before {
    transform: rotate(180deg);
    background-color: #14192f;
    animation: textAnimation 3s infinite;
    animation-direction: alternate-reverse;
  }
  @keyframes textAnimation {
    0% {
      width: 100%;
    }
    25% {
      width: 75%;
    }
    50% {
      width: 50%;
    }
    75% {
      width: 25%;
    }
    100% {
      width: 0%;
    }
  }
  .home-img {
    height: 16rem;
    /* border: 1px solid red; */
  }

  .home-btn-group {
    padding: 0.5rem;
    /* border: 1px solid green; */
  }

  .home-btn {
    /* border: 1px solid red; */
    color: #064ef7;
  }
  a:active {
    color: #064ef7;
  }
  a:visited {
    color: #064ef7;
  }
  
}
@media (min-width: 400px) {
  .home-outer {
    height: 90vh;
    /* border: 1px solid red; */
    width: 100%;
   
  }
  .intro-box {
    background-color: transparent;
    padding: 0rem 0rem;
    height: 58vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(240, 94, 94); */
    box-shadow: none;
  }

  .intro-note {
    /* border: 1px solid rgb(49, 243, 0); */
    height: 12rem;
    width: 30rem;
    padding-left: 1rem;
    align-items: center;
    /* margin-bottom: 0; */
    justify-content: space-evenly;
  }

  .name-text {
    /* border: 1px solid blue; */
    font-size: 2rem;
    font-weight: 500;
  }
  .first-text {
    font-size: 1.4rem;
    font-weight: 500;
  }
  .title-text-box {
    /* border: 1px solid rgb(138, 135, 135); */
    text-align: justify;
    /* margin-left: -10rem; */
  }

  .sec-text {
    font-size: 1.1rem;
    color: #064ef7;
    /* border: 1px solid red; */
    letter-spacing: normal;
    font-weight: 400;
  }

  .sec-text:before {
    transform: rotate(180deg);
    background-color: #14192f;
    animation: textAnimation 3s infinite;
    animation-direction: alternate-reverse;
  }
  @keyframes textAnimation {
    0% {
      width: 100%;
    }
    25% {
      width: 75%;
    }
    50% {
      width: 50%;
    }
    75% {
      width: 25%;
    }
    100% {
      width: 0%;
    }
  }
  .home-img {
    height: 16rem;
    /* border: 1px solid red; */
  }

  .home-btn-group {
    padding: 0.5rem;
    /* border: 1px solid green; */
  }

  .home-btn {
    /* border: 1px solid red; */
    color: #064ef7;
  }
  a:active {
    color: #064ef7;
  }
  a:visited {
    color: #064ef7;
  }
  
}
@media (min-width: 310px) {
  .home-outer {
    height: 90vh;
    /* border: 1px solid red; */
    width: 100%;
   


  }
  .intro-box {
    background-color: transparent;
    padding: 0rem 0rem;
    height: 65vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(240, 94, 94); */
    box-shadow: none;
  }

  .intro-note {
    /* border: 1px solid rgb(49, 243, 0); */
    height: 12rem;
    width: 30rem;
    padding-left: 1rem;
    align-items: center;
    /* margin-bottom: 0; */
    justify-content: space-evenly;
  }

  .name-text {
    /* border: 1px solid blue; */
    font-size: 2.3rem;
    font-weight: 500;
  }
  .first-text {
    font-size: 1.6rem;
    font-weight: 500;
  }
  .title-text-box {
    /* border: 1px solid rgb(138, 135, 135); */
    text-align: justify;
    /* margin-left: -10rem; */
  }

  .sec-text {
    font-size: 1.2rem;
    color: #064ef7;
    /* border: 1px solid red; */
    letter-spacing: 1px;
    font-weight: 400;
  }

  .sec-text:before {
    transform: rotate(180deg);
    background-color: #14192f;
    animation: textAnimation 3s infinite;
    animation-direction: alternate-reverse;
  }
  @keyframes textAnimation {
    0% {
      width: 100%;
    }
    25% {
      width: 75%;
    }
    50% {
      width: 50%;
    }
    75% {
      width: 25%;
    }
    100% {
      width: 0%;
    }
  }
  .home-img {
    height: 16rem;
    /* border: 1px solid red; */
  }

  .home-btn-group {
    padding: 0.5rem;
    /* border: 1px solid green; */
  }

  .home-btn {
    /* border: 1px solid red; */
    color: #064ef7;
  }
  a:active {
    color: #064ef7;
  }
  a:visited {
    color: #064ef7;
  }
  
}
@media (min-width: 354px) {
  .home-outer {
    height: 90vh;
    /* border: 1px solid red; */
    width: 100%;
   

  }
  .intro-box {
    background-color: transparent;
    padding: 0rem 0rem;
    height: 65vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(240, 94, 94); */
    box-shadow: none;
  }

  .intro-note {
    /* border: 1px solid rgb(49, 243, 0); */
    height: 12rem;
    width: 30rem;
    padding-left: 1rem;
    align-items: center;
    /* margin-bottom: 0; */
    justify-content: space-evenly;
  }

  .name-text {
    /* border: 1px solid blue; */
    font-size: 2.3rem;
    font-weight: 500;
  }
  .first-text {
    font-size: 1.6rem;
    font-weight: 500;
  }
  .title-text-box {
    /* border: 1px solid rgb(138, 135, 135); */
    text-align: justify;
    /* margin-left: -10rem; */
  }

  .sec-text {
    font-size: 1.2rem;
    color: #064ef7;
    /* border: 1px solid red; */
    letter-spacing: 1px;
    font-weight: 400;
  }

  .sec-text:before {
    transform: rotate(180deg);
    background-color: #14192f;
    animation: textAnimation 3s infinite;
    animation-direction: alternate-reverse;
  }
  @keyframes textAnimation {
    0% {
      width: 100%;
    }
    25% {
      width: 75%;
    }
    50% {
      width: 50%;
    }
    75% {
      width: 25%;
    }
    100% {
      width: 0%;
    }
  }
  .home-img {
    height: 16rem;
    /* border: 1px solid red; */
  }

  .home-btn-group {
    padding: 0.5rem;
    /* border: 1px solid green; */
  }

  .home-btn {
    /* border: 1px solid red; */
    color: #064ef7;
  }
  a:active {
    color: #064ef7;
  }
  a:visited {
    color: #064ef7;
  }
  
}
@media (min-width: 360px) {
  .home-outer {
    height: 90vh;
    /* border: 1px solid red; */
    width: 100%;
   

  }
  .intro-box {
    background-color: transparent;
    padding: 0rem 0rem;
    height: 65vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(240, 94, 94); */
    box-shadow: none;
  }

  .intro-note {
    /* border: 1px solid rgb(49, 243, 0); */
    height: 12rem;
    width: 30rem;
    padding-left: 1rem;
    align-items: center;
    /* margin-bottom: 0; */
    justify-content: space-evenly;
  }

  .name-text {
    /* border: 1px solid blue; */
    font-size: 2.3rem;
    font-weight: 500;
  }
  .first-text {
    font-size: 1.6rem;
    font-weight: 500;
  }
  .title-text-box {
    /* border: 1px solid rgb(138, 135, 135); */
    text-align: justify;
    /* margin-left: -10rem; */
  }

  .sec-text {
    font-size: 1.2rem;
    color: #064ef7;
    /* border: 1px solid red; */
    letter-spacing: 1px;
    font-weight: 400;
  }

  .sec-text:before {
    transform: rotate(180deg);
    background-color: #14192f;
    animation: textAnimation 3s infinite;
    animation-direction: alternate-reverse;
  }
  @keyframes textAnimation {
    0% {
      width: 100%;
    }
    25% {
      width: 75%;
    }
    50% {
      width: 50%;
    }
    75% {
      width: 25%;
    }
    100% {
      width: 0%;
    }
  }
  .home-img {
    height: 16rem;
    /* border: 1px solid red; */
  }

  .home-btn-group {
    padding: 0.5rem;
    /* border: 1px solid green; */
  }

  .home-btn {
    /* border: 1px solid red; */
    color: #064ef7;
  }
  a:active {
    color: #064ef7;
  }
  a:visited {
    color: #064ef7;
  }
  
}
@media (min-width: 370px) {
  .home-outer {
    height: 90vh;
    /* border: 1px solid red; */
    width: 100%;
   

  }
  .intro-box {
    background-color: transparent;
    padding: 0rem 0rem;
    height: 65vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(240, 94, 94); */
    box-shadow: none;
  }

  .intro-note {
    /* border: 1px solid rgb(49, 243, 0); */
    height: 12rem;
    width: 30rem;
    padding-left: 1rem;
    align-items: center;
    /* margin-bottom: 0; */
    justify-content: space-evenly;
  }

  .name-text {
    /* border: 1px solid blue; */
    font-size: 2.3rem;
    font-weight: 500;
  }
  .first-text {
    font-size: 1.6rem;
    font-weight: 500;
  }
  .title-text-box {
    /* border: 1px solid rgb(138, 135, 135); */
    text-align: justify;
    /* margin-left: -10rem; */
  }

  .sec-text {
    font-size: 1.2rem;
    color: #064ef7;
    /* border: 1px solid red; */
    letter-spacing: 1px;
    font-weight: 400;
  }

  .sec-text:before {
    transform: rotate(180deg);
    background-color: #14192f;
    animation: textAnimation 3s infinite;
    animation-direction: alternate-reverse;
  }
  @keyframes textAnimation {
    0% {
      width: 100%;
    }
    25% {
      width: 75%;
    }
    50% {
      width: 50%;
    }
    75% {
      width: 25%;
    }
    100% {
      width: 0%;
    }
  }
  .home-img {
    height: 16rem;
    /* border: 1px solid red; */
  }

  .home-btn-group {
    padding: 0.5rem;
    /* border: 1px solid green; */
  }

  .home-btn {
    /* border: 1px solid red; */
    color: #064ef7;
  }
  a:active {
    color: #064ef7;
  }
  a:visited {
    color: #064ef7;
  }
  
}
@media (min-width: 375px) {
  .home-outer {
    height: 90vh;
    /* border: 1px solid red; */
    width: 100%;
  }
  .intro-box {
    background-color: transparent;
    padding: 0rem 0rem;
    height: 65vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(240, 94, 94); */
    box-shadow: none;
  }

  .intro-note {
    /* border: 1px solid rgb(49, 243, 0); */
    height: 12rem;
    width: 30rem;
    padding-left: 1rem;
    align-items: center;
    /* margin-bottom: 0; */
    justify-content: space-evenly;
  }

  .name-text {
    /* border: 1px solid blue; */
    font-size: 2.3rem;
    font-weight: 500;
  }
  .first-text {
    font-size: 1.6rem;
    font-weight: 500;
  }
  .title-text-box {
    /* border: 1px solid rgb(138, 135, 135); */
    text-align: justify;
    /* margin-left: -10rem; */
  }

  .sec-text {
    font-size: 1.2rem;
    color: #064ef7;
    /* border: 1px solid red; */
    letter-spacing: 1px;
    font-weight: 400;
  }

  .sec-text:before {
    transform: rotate(180deg);
    background-color: #14192f;
    animation: textAnimation 3s infinite;
    animation-direction: alternate-reverse;
  }
  @keyframes textAnimation {
    0% {
      width: 100%;
    }
    25% {
      width: 75%;
    }
    50% {
      width: 50%;
    }
    75% {
      width: 25%;
    }
    100% {
      width: 0%;
    }
  }
  .home-img {
    height: 16rem;
    /* border: 1px solid red; */
  }

  .home-btn-group {
    padding: 0.5rem;
    /* border: 1px solid green; */
  }

  .home-btn {
    /* border: 1px solid red; */
    color: #064ef7;
  }
  a:active {
    color: #064ef7;
  }
  a:visited {
    color: #064ef7;
  }
  
}
@media (min-width: 400px) {
  .home-outer {
    height: 90vh;
    /* border: 1px solid red; */
    width: 100%;
  }
  .intro-box {
    background-color: transparent;
    padding: 0rem 0rem;
    height: 65vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(240, 94, 94); */
    box-shadow: none;
  }

  .intro-note {
    /* border: 1px solid rgb(49, 243, 0); */
    height: 12rem;
    width: 30rem;
    padding-left: 1rem;
    align-items: center;
    /* margin-bottom: 0; */
    justify-content: space-evenly;
  }

  .name-text {
    /* border: 1px solid blue; */
    font-size: 2.3rem;
    font-weight: 500;
  }
  .first-text {
    font-size: 1.6rem;
    font-weight: 500;
  }
  .title-text-box {
    /* border: 1px solid rgb(138, 135, 135); */
    text-align: justify;
    /* margin-left: -10rem; */
  }

  .sec-text {
    font-size: 1.2rem;
    color: #064ef7;
    /* border: 1px solid red; */
    letter-spacing: 1px;
    font-weight: 400;
  }

  .sec-text:before {
    transform: rotate(180deg);
    background-color: #14192f;
    animation: textAnimation 3s infinite;
    animation-direction: alternate-reverse;
  }
  @keyframes textAnimation {
    0% {
      width: 100%;
    }
    25% {
      width: 75%;
    }
    50% {
      width: 50%;
    }
    75% {
      width: 25%;
    }
    100% {
      width: 0%;
    }
  }
  .home-img {
    height: 18rem;
    /* border: 1px solid red; */
  }

  .home-btn-group {
    padding: 0.5rem;
    /* border: 1px solid green; */
  }

  .home-btn {
    /* border: 1px solid red; */
    color: #064ef7;
  }
  a:active {
    color: #064ef7;
  }
  a:visited {
    color: #064ef7;
  }
  
}
@media (min-width: 500px) {
  .home-outer {
    height: 90vh;
    /* border: 1px solid red; */
    width: 100%;
  }
  .intro-box {
    background-color: transparent;
    padding: 0rem 0rem;
    height: 65vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(240, 94, 94); */
    box-shadow: none;
  }

  .intro-note {
    /* border: 1px solid rgb(49, 243, 0); */
    height: 12rem;
    width: 30rem;
    padding-left: 1rem;
    align-items: center;
    /* margin-bottom: 0; */
    justify-content: space-evenly;
  }

  .name-text {
    /* border: 1px solid blue; */
    font-size: 2.3rem;
    font-weight: 500;
  }
  .first-text {
    font-size: 1.6rem;
    font-weight: 500;
  }
  .title-text-box {
    /* border: 1px solid rgb(138, 135, 135); */
    text-align: justify;
    /* margin-left: -10rem; */
  }

  .sec-text {
    font-size: 1.2rem;
    color: #064ef7;
    /* border: 1px solid red; */
    letter-spacing: 1px;
    font-weight: 400;
  }

  .sec-text:before {
    transform: rotate(180deg);
    background-color: #14192f;
    animation: textAnimation 3s infinite;
    animation-direction: alternate-reverse;
  }
  @keyframes textAnimation {
    0% {
      width: 100%;
    }
    25% {
      width: 75%;
    }
    50% {
      width: 50%;
    }
    75% {
      width: 25%;
    }
    100% {
      width: 0%;
    }
  }
  .home-img {
    height: 18rem;
    /* border: 1px solid red; */
  }

  .home-btn-group {
    padding: 0.5rem;
    /* border: 1px solid green; */
  }

  .home-btn {
    /* border: 1px solid red; */
    color: #064ef7;
  }
  a:active {
    color: #064ef7;
  }
  a:visited {
    color: #064ef7;
  }
  
}
@media (min-width: 646px) {
  .home-outer {
    height: 90vh;
    /* border: 1px solid red; */
    width: 100%;
  }
  .intro-box {
    background-color: transparent;
    padding: 0rem 0rem;
    height: 65vh;
    width: 80%;
    align-items: center;
    justify-content: center;
    border:1px solid rgb(37, 37, 80);;
    box-shadow: none;
  }

  .intro-note {
    /* border: 1px solid rgb(49, 243, 0); */
    height: 12rem;
    width: 30rem;
    padding-left: 1rem;
    align-items: center;
    /* margin-bottom: 0; */
    justify-content: space-evenly;
  }

  .name-text {
    /* border: 1px solid blue; */
    font-size: 2.3rem;
    font-weight: 500;
  }
  .first-text {
    font-size: 1.6rem;
    font-weight: 500;
  }
  .title-text-box {
    /* border: 1px solid rgb(138, 135, 135); */
    text-align: justify;
    /* margin-left: -10rem; */
  }

  .sec-text {
    font-size: 1.2rem;
    color: #064ef7;
    /* border: 1px solid red; */
  }

  .sec-text:before {
    transform: rotate(180deg);
    background-color: #14192f;
    animation: textAnimation 3s infinite;
    animation-direction: alternate-reverse;
  }
  @keyframes textAnimation {
    0% {
      width: 100%;
    }
    25% {
      width: 75%;
    }
    50% {
      width: 50%;
    }
    75% {
      width: 25%;
    }
    100% {
      width: 0%;
    }
  }
  .home-img {
    height: 16rem;
    /* border: 1px solid red; */
  }

  .home-btn-group {
    padding: 0.5rem;
    /* border: 1px solid green; */
  }

  .home-btn {
    /* border: 1px solid red; */
    color: #064ef7;
  }
  a:active {
    color: #064ef7;
  }
  a:visited {
    color: #064ef7;
  }
  
}

@media (min-width: 768px) {
  .home-outer {
    height: 90vh;
    /* border: 1px solid red; */
    width: 100%;
  }
  .intro-box {
    padding: 0rem 0rem;
    height: 68vh;
    width: 80%;
    /* background-color: #064ef7; */
    background-color: transparent;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(240, 94, 94); */
    box-shadow: none;
  }

  .intro-note {
    /* border: 1px solid rgb(49, 243, 0); */
    height: 12rem;
    width: 30rem;
    padding-left: 1rem;
    align-items: center;
    /* margin-bottom: 0; */
    justify-content: space-evenly;
  }

  .name-text {
    /* border: 1px solid blue; */
    font-size: 2.3rem;
    font-weight: 500;
  }
  .first-text {
    font-size: 1.6rem;
    font-weight: 500;
  }
  .title-text-box {
    /* border: 1px solid rgb(138, 135, 135); */
    text-align: justify;
    /* margin-left: -10rem; */
  }

  .sec-text {
    font-size: 1.15rem;
    color: #0445f7;
    letter-spacing: 0;
    font-weight: 400;
    /* border: 1px solid red; */
  }

  .sec-text:before {
    border-left: none;
    border-right: 2px solid #1148cc;
    background-color: #14192F;;
    /* background-color:  #dce3f7; */
    animation: textAnimation 7s steps(18) infinite;
    animation-delay: 0.1s;
  }
  @keyframes textAnimation {
    40%,
    60% {
      left: 100%;
    }
    100% {
      left: 0%;
    }
  }
  .home-img {
    height: 20rem;
    /* border: 1px solid red; */
  }

  .home-btn-group {
    padding: 0.5rem;
    /* border: 1px solid green; */
  }

  .home-btn {
    /* border: 1px solid red; */
    color: #064ef7;
  }
  a:active {
    color: #064ef7;
  }
  a:visited {
    color: #064ef7;
  }
  .home-btns:hover {
    /* box-shadow: #064ef7 0px 1px 2px; */
  }
}
@media (min-width: 820px) {
  .home-outer {
    height: 90vh;
    /* border: 1px solid red; */
    width: 100%;
  }
  .intro-box {
    padding: 0rem 0rem;
    height: 68vh;
    width: 80%;
    /* background-color: #064ef7; */
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(240, 94, 94); */
    box-shadow: none;
    background-color: transparent;

  }

  .intro-note {
    /* border: 1px solid rgb(49, 243, 0); */
    height: 12rem;
    width: 30rem;
    padding-left: 1rem;
    align-items: center;
    /* margin-bottom: 0; */
    justify-content: space-evenly;
  }

  .name-text {
    /* border: 1px solid blue; */
    font-size: 2.3rem;
    font-weight: 500;
  }
  .first-text {
    font-size: 1.6rem;
    font-weight: 500;
  }
  .title-text-box {
    /* border: 1px solid rgb(138, 135, 135); */
    text-align: justify;
    /* margin-left: -10rem; */
  }

  .sec-text {
    font-size: 1.2rem;
    color: #0445f7;
    letter-spacing: 1px;
    font-weight: 400;
    /* border: 1px solid red; */
  }
  .sec-text:before {
    border-left: none;
    border-right: 2px solid #1148cc;
    background-color: #14192F;;
    /* background-color:  #dce3f7; */
    animation: textAnimation 7s steps(18) infinite;
    animation-delay: 0.1s;
  }
  @keyframes textAnimation {
    40%,
    60% {
      left: 100%;
    }
    100% {
      left: 0%;
    }
  }

  .home-img {
    height: 18rem;
    /* position: relative; */
    /* border: 1px solid red; */
  }

  
 
  .home-btn-group {
    padding: 0.5rem;
    /* border: 1px solid green; */
  }

  .home-btn {
    /* border: 1px solid red; */
    color: #064ef7;
  }
  a:active {
    color: #064ef7;
  }
  a:visited {
    color: #064ef7;
  }
  .home-btns:hover {
    /* box-shadow: #064ef7 0px 1px 2px; */
  }
}
@media (min-width: 967px) {
  .home-outer {
    height: 90vh;
    /* border: 1px solid red; */
    width: 100%;
  }
  .intro-box {
    padding: 0rem 0rem;
    height: 60vh;
    width: 80%;
    /* background-color: #064ef7; */
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(240, 94, 94); */
    box-shadow: none;
    background-color: transparent;
    justify-content: space-between;

  }

  .intro-note {
    /* border: 1px solid rgb(49, 243, 0); */
    height: 12rem;
    width: 25rem;
    padding-left: 1rem;
    align-items: center;
    /* margin-bottom: 0; */
    justify-content: space-evenly;
  }

  .name-text {
    /* border: 1px solid blue; */
    font-size: 2.3rem;
    font-weight: 500;
  }
  .first-text {
    font-size: 1.6rem;
    font-weight: 500;
  }
  .title-text-box {
    /* border: 1px solid rgb(138, 135, 135); */
    text-align: justify;
    /* margin-left: -10rem; */
  }

  .sec-text {
    font-size: 1.16rem;
    color: #0445f7;
    letter-spacing: 0;
    font-weight: 400;
    /* border: 1px solid red; */
  }
  .sec-text:before {
    border-left: none;
    border-right: 2px solid #1148cc;
    background-color: #14192F;;
    /* background-color:  #dce3f7; */
    animation: textAnimation 7s steps(18) infinite;
    animation-delay: 0.1s;
  }
  @keyframes textAnimation {
    40%,
    60% {
      left: 100%;
    }
    100% {
      left: 0%;
    }
  }

  .home-img {
    height: 18rem;
    /* border: 1px solid red; */
  }

  .home-btn-group {
    padding: 0.5rem;
    /* border: 1px solid green; */
  }

  .home-btn {
    /* border: 1px solid red; */
    color: #064ef7;
  }
  a:active {
    color: #064ef7;
  }
  a:visited {
    color: #064ef7;
  }
  .home-btns:hover {
    /* box-shadow: #064ef7 0px 1px 2px; */
  }
}


@media (min-width: 1024px) {
  .home-outer {
    height: 90vh;
    /* border: 1px solid red; */
    width: 100%;
    /* padding: 0.5rem 0rem; */
    border-bottom: none;
  }
  .intro-box {
    background-color: #88a8ff;
    /* padding: 2rem 1rem; */
    height: 50vh;
    width: 80vw;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid rgb(240, 94, 94); */
  }

  .intro-note {
    /* border: 1px solid rgb(49, 243, 0); */
    height: 12rem;
    width: 26rem;
    padding-left: 1rem;
    align-items: center;
  }

  .name-text {
    /* border: 1px solid blue; */
    font-size: 2.3rem;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .first-text {
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #1148cc;
  }
  .title-text-box {
    /* border: 1px solid rgb(138, 135, 135); */
    text-align: justify;
  }

  .sec-text {
    /* padding-left: 2px; */
    position: relative;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #1148cc;
    padding: 0rem 0.2rem;
    font-weight: 400;
    /* border: 1px solid red; */
  }

  .sec-text:before {
    border-left: none;
    border-right: 2px solid #1148cc;
    background-color: #88a8ff;
    /* background-color:  #dce3f7; */
    animation: textAnimation 7s steps(18) infinite;
    animation-delay: 0.1s;
  }
  @keyframes textAnimation {
    40%,
    60% {
      left: 100%;
    }
    100% {
      left: 0%;
    }
  }

  .home-img {
    height: 18rem;
    /* border: 1px solid red; */
  }
  .home-btns {
    margin: 0rem 0.5rem;
    font-size: 2rem;
    /* border: 1px solid red;  */
    color: #0327f1;
    /* padding: 0.1rem 0.4rem; */
  }

  a:active {
    color: #064ef7;
  }
  a:visited {
    color: #064ef7;
  }
  
}

@media (min-width: 1280px) {
  .home-outer {
    height: 90vh;
    /* border: 1px solid red; */
    width: 100%;
    /* padding: 0.5rem 0rem; */
  }
  .intro-box {
    background-color: #88a8ff;
    padding: 2rem 1rem;
    height: 45vh;
    width: 80vw;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid rgb(240, 94, 94); */
  }

  .intro-note {
    /* border: 1px solid rgb(49, 243, 0); */
    height: 12rem;
    width: 26rem;
    padding-left: 1rem;
    align-items: center;
  }

  .name-text {
    /* border: 1px solid blue; */
    padding: 0.5rem;
    font-size: 2.3rem;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .first-text {
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #1148cc;
  }
  .title-text-box {
    /* border: 1px solid rgb(138, 135, 135); */
    text-align: justify;
  }

  .sec-text {
    /* padding-left: 2px; */
    position: relative;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #1148cc;
    padding: 0rem 0.2rem;
    font-weight: 400;
    /* border: 1px solid red; */
  }

  .sec-text:before {
    border-left: none;
    border-right: 2px solid #1148cc;
    background-color: #88a8ff;
    /* background-color:  #dce3f7; */
    animation: textAnimation 7s steps(18) infinite;
    animation-delay: 0.1s;
  }
  @keyframes textAnimation {
    40%,
    60% {
      left: 100%;
    }
    100% {
      left: 0%;
    }
  }

  .home-img {
    height: 20rem;
    /* border: 1px solid red; */
  }
  .home-btns {
    margin: 0rem 0.5rem;
    font-size: 2rem;
    /* border: 1px solid red;  */
    color: #0327f1;
    /* padding: 0.1rem 0.4rem; */
  }

  a:active {
    color: #064ef7;
  }
  a:visited {
    color: #064ef7;
  }
  
}

@media (min-width: 1536px) {
  .home-outer {
    height: 90vh;
    /* border: 1px solid red; */
    width: 100%;
    /* padding: 0.5rem 0rem; */
   
  }
  .intro-box {
    background-color: #88a8ff;
    padding: 2rem 1rem;
    height: 45vh;
    width: 72vw;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid rgb(240, 94, 94); */
  }

  .intro-note {
    /* border: 1px solid rgb(49, 243, 0); */
    height: 12rem;
    width: 26rem;
    padding-left: 1rem;
    align-items: center;
  }

  .name-text {
    /* border: 1px solid blue; */
    padding: 0.5rem;
    font-size: 2.3rem;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .first-text {
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #1148cc;
  }
  .title-text-box {
    /* border: 1px solid rgb(138, 135, 135); */
    text-align: justify;
  }

  .sec-text {
    /* padding-left: 2px; */
    position: relative;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 400;
    color: #1148cc;
    padding: 0rem 0.2rem;
    /* border: 1px solid red; */
  }

  .sec-text:before {
    border-left: none;
    border-right: 2px solid #1148cc;
    background-color:#88a8ff;
    /* background-color:  #dce3f7; */
    animation: textAnimation 7s steps(18) infinite;
    animation-delay: 0.1s;
  }
  @keyframes textAnimation {
    40%,
    60% {
      left: 100%;
    }
    100% {
      left: 0%;
    }
  }

  .home-img {
    height: 20rem;
    /* border: 1px solid red; */
  }
  .home-btns {
    margin: 0rem 0.5rem;
    font-size: 2rem;
    /* border: 1px solid red;  */
    color: #0327f1;
    /* padding: 0.1rem 0.4rem; */
  }

  a:active {
    color: #064ef7;
  }
  a:visited {
    color: #064ef7;
  }
  
}
@media (min-width: 1550px) {
  .home-outer {
    height: 90vh;
    /* border: 1px solid red; */
    width: 99vw;
    /* padding: 0.5rem 0rem; */
   
  }
  .intro-box {
    background-color: #88a8ff;
    padding: 2rem 1rem;
    height: 45vh;
    width: 72vw;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid rgb(240, 94, 94); */
  }

  .intro-note {
    /* border: 1px solid rgb(49, 243, 0); */
    height: 12rem;
    width: 26rem;
    padding-left: 1rem;
    align-items: center;
  }

  .name-text {
    /* border: 1px solid blue; */
    padding: 0.5rem;
    font-size: 2.3rem;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .first-text {
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #1148cc;
  }
  .title-text-box {
    /* border: 1px solid rgb(138, 135, 135); */
    text-align: justify;
  }

  .sec-text {
    /* padding-left: 2px; */
    position: relative;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #1148cc;
    padding: 0rem 0.2rem;
    font-weight: 400;
    /* border: 1px solid red; */
  }

  .sec-text:before {
    border-left: none;
    border-right: 2px solid #1148cc;
    background-color: #88a8ff;
    /* background-color:  #dce3f7; */
    animation: textAnimation 7s steps(18) infinite;
    animation-delay: 0.1s;
  }
  @keyframes textAnimation {
    40%,
    60% {
      left: 100%;
    }
    100% {
      left: 0%;
    }
  }

  .home-img {
    height: 20rem;
    /* border: 1px solid red; */
  }
  .home-btns {
    margin: 0rem 0.5rem;
    font-size: 2rem;
    /* border: 1px solid red;  */
    color: #0327f1;
    /* padding: 0.1rem 0.4rem; */
  }

  a:active {
    color: #064ef7;
  }
  a:visited {
    color: #064ef7;
  }
  
}
@media (min-width: 1600px) {
  .home-outer {
    height: 90vh;
    /* border: 1px solid red; */
    width: 99vw;
    /* padding: 0.5rem 0rem; */
   
  }
  .intro-box {
    background-color: #88a8ff;
    padding: 2rem 1rem;
    height: 45vh;
    width: 72vw;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid rgb(240, 94, 94); */
  }

  .intro-note {
    /* border: 1px solid rgb(49, 243, 0); */
    height: 12rem;
    width: 26rem;
    padding-left: 1rem;
    align-items: center;
  }

  .name-text {
    /* border: 1px solid blue; */
    padding: 0.5rem;
    font-size: 2.3rem;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .first-text {
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #1148cc;
  }
  .title-text-box {
    /* border: 1px solid rgb(138, 135, 135); */
    text-align: justify;
  }

  .sec-text {
    /* padding-left: 2px; */
    position: relative;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #1148cc;
    padding: 0rem 0.2rem;
    font-weight: 400;
    /* border: 1px solid red; */
  }

  .sec-text:before {
    border-left: none;
    border-right: 2px solid #1148cc;
    background-color: #88a8ff;
    /* background-color:  #dce3f7; */
    animation: textAnimation 7s steps(18) infinite;
    animation-delay: 0.1s;
  }
  @keyframes textAnimation {
    40%,
    60% {
      left: 100%;
    }
    100% {
      left: 0%;
    }
  }

  .home-img {
    height: 20rem;
    /* border: 1px solid red; */
  }
  .home-btns {
    margin: 0rem 0.5rem;
    font-size: 2rem;
    /* border: 1px solid red;  */
    color: #0327f1;
    /* padding: 0.1rem 0.4rem; */
  }

  a:active {
    color: #064ef7;
  }
  a:visited {
    color: #064ef7;
  }
  
}
