.contact-outer{
    height: auto;
    width: 99vw;
    padding: 4rem 0rem
    /* z-index: 1; */;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: #14192f;
    /* border: 1px solid red; */
  border: none;


    }
    
    .contact-inner{
        margin: 3.5rem 0rem;
    z-index: 1;
    /* border: 1px solid  rgb(37, 37, 80); */
    background-color: transparent;
    height: auto;
    width: 63vw;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-around;
    /* border: 1px solid red; */
 
    
    }

    .form-heding{
        padding: 0.5rem 0rem ;
        font-size: 2.2rem;
        font-weight: 400;
        color: #fdfdfd;
        margin-bottom: 0.5rem;
    /* border: 1px solid red; */
    letter-spacing: 1px;
    
    }
    
    .form{
    z-index: 1;
    height: 30rem;
    width: 30vw;
    padding: 1rem 1rem;
    /* border: 1px solid red; */
    /* color: rgb(10, 10, 10); */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
   
    }
    
    .lable{
    /* border: 1px solid red; */
      padding: 0.2rem 0.2rem ;
        font-size: 1.2rem;
        font-weight: 300;
        color: rgb(253, 253, 253);
    
    }
    .input-text{
        width: 20rem;
        border: 1px solid rgb(5, 5, 250);
        padding:0.4rem 0.5rem;
        font-size: 1.2rem;
        border-radius: 10px;
        outline: none;
        font-weight: 400;
        color:rgb(245, 245, 245);
        background-color: transparent;
    
    }
    
    .input-text:is(:focus){
        border:1px solid  transparent;
        box-shadow: 0px 0px 3px #ffffff;
    }
    
    .input-textarea{
        width: 20rem;
        height: 10rem;
        font-weight: 400;
        border: 1px solid rgb(5, 5, 250);
        padding:0.5rem 0.5rem;
        font-size: 1.2rem;
        border-radius: 10px;
        outline: none;
        color: #f2f2f7;
        resize: none;
        background-color: transparent;    
        /* border: 1px solid red; */
    
    }
    
    .input-textarea:is(:focus){
        border:1px solid  transparent;
        box-shadow: 0px 0px 3px #fdfdfd;
    }
    
    .input-textarea::-webkit-scrollbar{ 
        width: 5px solid white;
    }
    
    ::placeholder{
        color: #c5c5c5;
        font-weight: 200;
        font-size: 1.1rem;
        z-index: 5;
    }
    .input-submit{
    
        border: 1px solid rgb(5, 5, 250);
        border-radius: 10px;
        color: #ffffff;
        font-size: 1.1rem;
        font-weight: 300;
        padding: 0.5rem 1.5rem;
        background-color: transparent;
        transition: 1s;
        outline: none;
        cursor: pointer;
        margin-top: .8rem;
    
    }
    .input-submit:hover{
        border: 1px solid transparent;
        font-weight: 400;
        color: #d4d4d4;
        box-shadow: 0px 0px 3px #fefeff;
        background-color: #1101f1;
    
    }
    
    .form-error{
        font-size: 0.9rem;
        color: white;
        padding: 0.1rem 0.2rem;
        font-weight: 300;
        letter-spacing: 1px;

    }
    
    .contact-image-outer{
        /* border: 1px solid red; */
        background-color: transparent;
    }
    
    
    .contact-image{
        height:30rem;
        width: 30rem;
    }

    .showAlert{
        color: #fefeff;
        font-size: 0.9rem;
        font-weight: 300;
        padding: 0rem 0.2rem;
        /* border: 1px solid white; */
    }

    .hideAlert{
        display: none;
    }

    .form-btn-group{
        /* border: 1px solid red; */
        display: flex;
        justify-content: space-around;
        padding: 0.4rem 0rem;
    }