



@media (min-width: 260px) {
    .project-counter{
        height: auto;
        width: 100%;
        padding: 1rem 0rem;

        /* border: 1px solid red; */
       }
       
       .project-inner-box{
           height: auto;
           width:90%;
           margin:3rem 0rem;
           margin-top: 4rem;
     /* border: 1px solid red; */

       }
       .pro-heading{
           font-size: 2rem;
       }
       
       .project-display{
           height: auto;
           width: 90%;
           /* border: 1px solid red; */
       }
}

@media (min-width: 320px) {
    .project-counter{
        height: auto;
        width: 100%;
        padding: 1rem 0rem;

        /* border: 1px solid red; */
       }
       
       .project-inner-box{
           height: auto;
           width:90%;
           margin:3rem 0rem;
           margin-top: 4rem;
     /* border: 1px solid red; */

       }
       .pro-heading{
           font-size: 2rem;
       }
       
       .project-display{
           height: auto;
           width: 90%;
           /* border: 1px solid red; */
           justify-content: center;
       }
}

@media (min-width: 481px) {
    .project-counter{
        height: auto;
        padding: 1rem 0rem;
        width: 100%;
        /* border: 1px solid red; */
       }
       
       .project-inner-box{
           height: auto;
           width:90%;
           margin:3rem 0rem;
           margin-top: 4rem;
     /* border: 1px solid red; */

       }
       .pro-heading{
           font-size: 2rem;
       }
       
       .project-display{
           height: auto;
           width: 90%;
           /* border: 1px solid red; */
           justify-content: center;
       }
}

@media (min-width: 790px) {
    .project-counter{
        padding: 1rem 0rem;
        height: auto;
        width: 100%;
        /* border: 1px solid red; */
       }
       
       .project-inner-box{
           height: auto;
           width:90%;
           margin:3rem 0rem;
           margin-top: 4rem;
     /* border: 1px solid red; */
     /* border: 1px solid rgb(31, 33, 133); */

       }
       .pro-heading{
           font-size: 2.2rem;
       }
       
       .project-display{
           height: auto;
           width: 90%;
           /* border: 1px solid red; */
           justify-content: center;
       }
}

@media (min-width: 1025px) {
    .project-counter{
        height: auto;
        width: 100%;
        padding: 2rem 0rem;
        /* border: 1px solid red; */
       }
       
       .project-inner-box{
           height: auto;
           width:90%;
           margin:3rem 0rem;
           margin-top: 4rem;
     /* border: 1px solid red; */
     /* border: 1px solid rgb(31, 33, 133); */

       }
       .pro-heading{
           font-size: 2.2rem;
       }
       
       .project-display{
           height: auto;
           width: 90%;
           /* border: 1px solid red; */
           justify-content: center;
       }
}
@media (min-width: 1201px) {
    .project-counter{
        height: auto;
        width: 99vw;
        /* border: 1px solid red; */
        padding: 2rem 0rem;
       }
       
       .project-inner-box{
           height: auto;
           width:90%;
           margin:4rem 0rem;
           margin-top: 4rem;
     /* border: 1px solid red; */
     /* border: 1px solid rgb(31, 33, 133); */

       }
       .pro-heading{
           font-size: 2.2rem;
       }
       
       .project-display{
           height: auto;
           width: 70%;
           /* border: 1px solid red; */
           justify-content: center;
       }
}