.project-counter{
    height: auto;
    width: 99vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #14192f;
    /* border: 1px solid red; */
    padding: 4.5rem 0rem;
   }
   
   .project-inner-box{
    border:1px solid rgb(37, 37, 80) ;
       height: auto;
       width: 63vw;
       margin:3rem 0rem;
       display: flex;
       flex-direction: column;
       flex-wrap: nowrap;
       align-items: center;
       z-index: 1;
       background-color: transparent;
       backdrop-filter: blur(12px); 
     -webkit-backdrop-filter: blur(12px);
   /* box-shadow: rgb(72, 72, 73) 0px 1px 2px 0px, rgb(44, 45, 63) 0px 2px 6px 2px; */
   }
   .pro-heading{
       font-size: 2.2rem;
       color: rgb(255, 255, 255);
       font-weight: 500;
       padding: 1rem 0rem;
       background-color: transparent;
   }
   
   .project-display{
       height: auto;
       width: 63vw;
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       align-items: center;
       /* background-color: #14192f; */
       /* border: 1px solid red; */
       background-color: transparent;
       margin: 2rem 0rem;
   }

   @media (min-width: 240px) {
}
@media (min-width: 375px) {
}
@media (min-width: 640px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}