.pro-card-outer {
    height: 28rem;
    width: 20rem;
    /* border: 1px solid red; */
    display: flex;
    padding: 2rem 0.5rem;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    border:1px solid #04050a;
    background-color: transparent;
    /* border: 1px solid #3b4053; */
    box-shadow: rgba(12, 12, 24, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin: 0.5rem;
    margin-left: 0.9rem;
  }
  
  .pro-img {
    height: 16rem;
    width: 18rem;
    /* border: 1px solid rgb(50, 47, 255); */
   
  }
  
  .pro-deatil-box {
    height: 12rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* border: 1px solid rgb(164, 9, 202); */
  }
  
  .project-name {
    padding-top: 0.2rem;
    font-size: 1.1rem;
    text-align: center;
    color: rgb(201, 198, 198);
  }
  
  .discreption {
    padding: 0.2rem 0.5rem;
    padding-bottom: 0.5rem;
    word-break: break-all;
    color: rgb(170, 169, 169);
    font-size: 1rem;
    font-weight: 300;
    text-align: justify;
  }
  
  .pro-btn-group {
    /* border: 1px solid red; */
    padding: 0rem 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .link-btn {
    padding: 0.2rem 0rem;
  }
  .link-btn a {
    font-size: 1.8rem;
    color: rgb(170, 169, 169);
    transition: 1s;
  }
  
  .link-btn a:hover {
    color: #0336ac;;
  }

  @media (min-width: 280px) {
  }
  @media (min-width: 300px) {
  }
  @media (min-width: 320px) {
  }
  @media (min-width: 354px) {
  }
  @media (min-width: 360px) {
  }
  @media (min-width: 370px) {
  }
  @media (min-width: 375px) {
  }
  @media (min-width: 400px) {
  }
  @media (min-width: 500px) {
  }
  @media (min-width: 640px) {
  }
  
  @media (min-width: 768px) {
  }
  @media (min-width: 920px) {
  }
  
  @media (min-width: 1024px) {
  }
  
  @media (min-width: 1280px) {
  }
  
  @media (min-width: 1536px) {
  }