@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500&family=Montserrat:wght@100;200;300;500;600;700;800;900&display=swap');
/* body{
    background: #121724;
} */
*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html{
  scroll-behavior: smooth;
}